<!DOCTYPE html>
<html>
<head>
  <title>MarketingSite</title>
  <%= stylesheet_link_tag    "marketing_site/application", media: "all" %>
  <%= javascript_include_tag "marketing_site/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
